{% extends "users/base.html" %}
{% load i18n%}

{% block head_content %}
<title>{% trans "Platzigram sign in" %}</title>
{% endblock%}

{% block container %}

    {% if form.errors %}
        <p class="alert alert-danger">
            {% trans "Your username and password didn't match. Please try again." %}
        </p>
    {% endif%}

    <form method="POST" action="{% url "users:login" %}">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="text" placeholder={% trans "Username" %} name="username" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder={% trans "Password" %} name="password" />
        </div>


        <button class="btn btn-primary btn-block mt-5" type="submit">{% trans "Sign in!" %}</button>

    </form>

    <p class="mt-4">{% trans "Don't have an account yet?" %} <a href="{% url "users:signup" %}">{% trans "Sign up here." %}</a></p>

{% endblock %}
